.container {
    background-color: #ac7d8869;
    padding: 2rem;
}

.covid__judul {
    text-align: center;
}
.covid__judul1 {
    margin: 0;
    font-size: 2.4rem;
}
.covid__judul2 {
    margin: 0;
    font-size: 1.2rem;
}
.covid__total {
    margin: 2rem;
    display: flex;
    text-align: center;
    align-items: center ;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px) {
    .covid__total {
        flex-direction: row;
        margin: 1rem 3rem;
    }
}
@media (min-width:992px) {
    .covid__total {
        flex-direction: row;
        margin: 1rem 5rem;
    }
}